
/* #333333 */

.contact--section {
    background: #1b1b1b;
    display: flex;
    padding: 149.33px 85.33px;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    gap: 106.667px;
  }
  .portfolio-contact-container {
      text-align: center;
  }
  
  .contact-title{
    color: #FFFFFF;
    font-size: 62px;
    font-weight: 400;
    line-height: 71.75px;
    margin-bottom: 10px; 
    align-items: center;
    text-align: center!important;
    position: relative;
    overflow: hidden; /* Hide overflowing content */
  
  
  }
  
  
  .contact--section--para {
    color: #EEEEEE;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  
  .two-columns {
    display: flex;
    gap: 300px;
    width: 100%;
  }
  
  .column {
    flex: 1;
  
  }
  
  .col-title{
    
    color:#EEEEEE;
    font-size: 46px;
    font-weight: 400;
    line-height: 53.23px;
    margin-bottom: 10px; 
    align-items: left;
    font-family: 'Nunito', sans-serif;
  width: 100%;
    position: relative;
    overflow: hidden; /* Hide overflowing content */
  
    white-space: normal;
     margin-left: 0;
     margin-right: 0;
     float: left;
  }
  
  .talk-sp{
    background-image: linear-gradient(265deg, rgba(183, 151, 102, 1) 12%, rgba(141, 97, 29, 1) 63%);
    max-width: max-content;
    padding: 0.1px 10px;
    color: white;
    font-size: 46px;
    font-weight: 400;
    line-height: 53.23px;
    align-items: center;
    text-align: center !important;
    display: inline-block; /* Make it an inline block to use text-align */
    white-space: nowrap; /* Prevent line breaks */
  }
  
  .talk-sp.visible {
    animation: fadeIn 5s ease-in-out forwards; 
  }
  
  @keyframes fadeIn {
    0% {
      transform: translateX(-100%); 
      opacity: 0;
    }
    100% {
      transform: translateX(0); 
      opacity: 1;
    }
  }
  
  .col-para {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
 
    margin-right: auto;
    text-align: left;
  }
  
  
  .line{
   width: 95%;
   float: left;

  }

  .col-follow{
    
    color:  #FFFFFF;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 10px; 
    align-items: left!important;
    
    overflow: hidden;
  
  
  }
  
  
  
  .follow-icons {
    display: flex;
    flex-direction: column;
    align-items: left!important;
  
  }
  
  .icon-container {
    display: flex;
    gap: 40px; 
  }
  
  .follow-icon {
    border-radius: 50%;
    padding: 8px;
  }
  
  .fa-instagram,
  .fa-twitter,
  .fa-linkedin{
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
  
  }

  
  
  .contact--form--container {
    justify-content: center;
    align-items: center;
    gap: 42.6px!important;
   
   
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 32px;
    row-gap: 32px!important;
  
  }
  .contact--label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.6px;
    flex: 1 0 0;
    width: 100%;
  }
  .contact--input {
    display: flex;
    font-family: "Roboto";
    padding: 16px;
    align-items: center;
    align-self: stretch;
    
    border: 1.333px solid #2b2622 ;
    background-color: #333333;
    border-radius: 2rem;
   
  }
  
  .contact--form--btn{
    margin-top: 21.333px;
    padding: 12px 24px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(265deg, rgba(244,210,145,1) 0%, rgba(160,118,50,1) 53%);
  line-height: 15.41px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    max-width: 100%;
    text-decoration: none;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
      white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
      white no-repeat calc(100% - 20px); /* Better placement regardless of input width */
  }
  /*For IE*/
  select::-ms-expand {
    display: none;
  }
  .checkbox--label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10.6px;
    flex: 1 0 0;
    justify-content: flex-start;
  }
  input[type="checkbox"] {
    width: 21px;
    height: 21px;
    border: 0.15em solid var(--heading-color);
    border-radius: 0.15em;
    transform: translatey(-0.075em);
  }
  /* Contact End */


 







  
  @media only screen and (max-width: 600px) {
    .contact--section {
      text-align: left;
      align-items: flex-start; /* Align items to the start */
      padding: 40px; /* Adjust padding for better spacing */
    }
  
    .contact-title {
      display: none;
    }
  
    .contact--section--para {
      display: none;
    }
  
    .col-title {
      font-size: 28px;
      line-height: 44px;
      text-align: left;
      white-space: normal;
    }
    .talk-sp{
      font-size: 28px;
      line-height: 44px;
    }
    
    
    .two-columns {
      flex-direction: column; /* Change to column for mobile */
    }
  
    .column {
      flex: none; /* Reset flex property for mobile */
    }
  
    .contact--form--container {
      margin-top: 20px; /* Add margin between icons and the form on mobile */
    }
  
    .container {
      grid-template-columns: auto; /* Display labels in a single column */
      margin-top: -300px;
    }
  
    .contact--label {
      width: 100%; /* Make labels full width on mobile */
    }
  
    .contact--input {
      width: 100%; /* Make inputs full width on mobile */
    }
  
    /* Other styles for mobile can be added here */
  }
  






  /* @media (min-width: 1023px){
   
  
    .contact--form--container {
      justify-content: left;
      align-items: center;
      gap: 42.6px;
   
   
     
      grid-template-columns: repeat(2, 1fr);
    }
    .two-columns {
      display: flex;
      gap: 100px!important;
      width: 100%;
    }
    
    .column {
      flex: 1;
    
    }
    
  
  } */

  /* @media screen and (max-width: 768px) {
    .contact-title{
    display: none;
    }
  
    .contact--section--para {
     display: none;
    }
    
  } */
  
  

  /* @media only screen and (max-width: 600px) {
    .two-columns {
      flex-direction: column; 
    }
    .column {
      flex: 1;
      width: 100%; 
    }
    .contact--form--container {
      grid-template-columns: 1fr; 
      margin-top: -350px;
    }
    .contact--label {
        width: 100%; 
        margin-bottom: 10px; 
      }
    
      .contact--input {
        width: 100%; 
      }
    .col-title {
      margin-left: -50px;
    }

  }
   */



  /* YourComponent.css */
  
  /* @keyframes ringingAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
  
  .fa-volume-control-phone:hover {
    animation: ringingAnimation 1s infinite; 
  } */
  
  


  
  /* @media screen and (max-width: 768px) {
    .btn-phone {
      max-width: 55%;
      width: 100%;
      
        gap: 10px;
      }
    
  } */
  
  /* @media screen and (min-width: 390px) and (max-width: 844px) { 
  
    .col-title{
      margin-left: -70px;
   }
  
  
   .col-para {
    color: gray;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    max-width: 800px; 
    margin-left: -54px!important;
  
  }
  .btn-email {
  
    max-width: 200%!important;
  margin-left: -50px;
  }
  
  .btn-phone {
    margin-top: 10px;
    width: 150%!important;
    margin-left: -50px;
   
  }
  
  .phone-link{
   
    margin-top: 55px;
    margin-left: -60px;
    font-size: 16px!important;
    width: 100%!important;
    
    }
  
    .email-link{
      font-size: 14px!important;
      }
    
  
  
  
  
  } */
  
  
  /* @media screen and (min-width: 360px) and (max-width: 800px) {
    .col-title{
      margin-left: -70px;
   }
  
  
   .col-para {
    color: gray;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    max-width: 800px; 
    margin-left: -54px!important;
  
  }
  
  .col-reach{
    
    color: white;
    font-size: 25px!important;
    margin-left: -20px!important;
    font-weight: 700;
    line-height: 77px;
    margin-bottom: 10px; 
    text-align: center!important;
    position: relative;
    overflow: hidden;
  
  
  }
  .btn-email {
  
    max-width: 150%!important;
  margin-left: -50px;
  }
  
  .btn-phone {
    margin-top: 10px;
    width: 150%!important;
    margin-left: -50px;
   
  }
  
  .phone-link{
   
    margin-top: 70px!important;
    margin-left: -80px!important;
    font-size: 14px!important;
    width: 150%!important;
    
    }
  
    .email-link{
      font-size: 12px!important;
      }
    
  
  } */
  
  /* @media screen and (min-width: 414px) and (max-width: 896px) {
  
    .btn-phone {
      margin-top: 10px;
      width: 120%!important;
      margin-left: -50px;
     
    }
    
    .phone-link{
     
      margin-top: 55px;
      margin-left: -60px;
      font-size: 16px!important;
      width: 200%!important;
      
      }
    
  } */
  
  
  /* @media screen and (min-width: 393px) and (max-width: 851px) {
  
    .btn-phone {
      margin-top: 10px;
      width: 134%!important;
      margin-left: -50px;
     
    }
    
    .phone-link{
     
      margin-top: 55px;
      margin-left: -60px;
      font-size: 16px!important;
      width: 200%!important;
      
      }
    
    }
   */
  














   /* .col-reach{
    
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 77px;
    margin-bottom: 10px; 
    text-align: center!important;
    position: relative;
    overflow: hidden;
  
  
  }
  
  
  .btn-email {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
  
  background-color: #474641;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    max-width: 100%;
    height: 100px;
    text-decoration: none;
  
  
    gap: 10px;
  }
  .email-link{
  color: white;
  text-decoration: none;
  
  margin-top: 55px;
  margin-left: -60px;
  font-size: 13px;
  width: 100%;
  
  }
  .email-link:hover {
    text-decoration: underline;
  }
  .email-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
  }
  
  .e-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(265deg, rgba(244, 210, 145, 1) 0%, rgba(160, 118, 50, 1) 53%);
    border-radius: 50px;
    width: 70px;
    height: 70px;
  }
  
  
  .btn-phone {
      display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
  
  background-color: #474641;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    max-width: 80%;
    width: 56%;
   
    gap: 30px;
    height: 100px;
    text-decoration: none;
  
  
    gap: 10px;
  }
  .phone-link{
  color: white;
  text-decoration: none;
  background-color: red;
  margin-top: 55px;
  margin-left: -40px;
  font-size: 13px;
  width: 100%;
  
  }
  .phone-link:hover {
    text-decoration: underline;
  }
  .phone-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
  }
  
  .p-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(265deg, rgba(244, 210, 145, 1) 0%, rgba(160, 118, 50, 1) 53%);
    border-radius: 50px;
    width: 70px;
  
    height: 70px;
    margin-left: -70px;
  }
   */
  